@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    /*text-rendering: optimizeLegibility;*/
}

body {
    font-family: LatoWeb;
}

.menu_list {
    float: right;
}

.menu_list li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
}

.footer_menu_list li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
}

.footer {
    background-color: #5c6bc0;
}

.menu_list li a,
.footer_menu_list li a {
    text-decoration: none;
}

h1,
h2,
.footer_info
{
    clear: both;
}

.header_logo {
    float: left;
    font-size: 42px;
    ~margin-top: -40px;
}

.archive_list li {
    list-style-type: none;
}

.archive_list {
    float: left;
    min-width: 40%;
}

.archive_item:first-of-type {
    font-size: 150%;
    color: silver;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.social {
    display: inline-block;

}
.social_conteiner {
    text-align: center;
}